	<div class="header-con">
	<!--logo start-->
    <div class="logo"><a href="index.html"><img src="http://res-pre.17daxue.com/web-passport/images/new-logo.png" width="148" height="30" alt="logo"></a><span>最专业的智能数学教育提供商</span></div>
    <!--logo end-->
    <!--nav start-->
    <div class="nav menu">
    	<ul>
        	<li><a id="indexA" class="selected headerTab" href="index.html">首页</a></li>
            <li><a id="productA" class="headerTab" href="product.html">产品</a>
                <ul class="sub-menu">
                	<li><a href="product.html">一周速测体系</a></li>
                    <li><a href="product-02.html">分层教学体系</a></li>
                    <li><a href="product-03.html">学生个性化学习</a></li>
                    <li><a href="product-04.html">个体跟踪关怀</a></li>
                    <li><a href="product-05.html">资源库</a></li>
                    <li><a href="product-06.html" style="border:0;">微信学习通</a></li>
                </ul>
            </li>
            <li><a id="school-caseA" class="headerTab" href="school-case.html">案例</a>
                 <ul class="sub-menu">
                	<li><a href="school-case.html">校园突出案例</a></li>
                    <li><a href="school-collaboration.html">校区教研合作</a></li>
                   <!--  <li><a href="case.html" style="border:0;">合作学校</a></li> -->
                </ul>
            </li>
            <li><a id="advantageA" class="headerTab" href="advantage.html">优势</a>
                <ul class="sub-menu">
                	<li><a href="advantage.html">公司优势</a></li>
                    <li><a href="math-team.html">数学专家团队</a></li>
                    <li><a href="qualification-certificate.html">资质证书</a></li>
                    <li><a href="proprietary-technology.html" style="border:0;">专利技术</a></li>
                </ul>
            </li>
            <li><a id="about-usA" class="headerTab" href="about-us.html">关于我们</a>
                <ul class="sub-menu">
                	<li><a href="about-us.html">CEO谈教育</a></li>
                    <li><a href="company-introduction.html">公司介绍/产品价值</a></li>
                    <li><a href="media-news.html">媒体动态</a></li>
                    <li><a href="join-us.html">人才招聘</a></li>
                    <li><a href="contact-us.html" style="border:0;">联系我们</a></li>
                </ul>
            </li>
            <li class="width-215"><a class="data" href="javascript:void(0)" onclick="alert('正在建设中，请等待...');">数据中心</a> <i></i> #loginInfo</li>
        </ul>
    </div>
    <!--nav end-->
    </div>
