<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yisi.stiku.basedata.dao.TbClassDao" >
  <resultMap id="BaseResultMap" type="com.yisi.stiku.basedata.entity.TbClass" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="school_id" property="schoolId" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="grade_year" property="gradeYear" jdbcType="INTEGER" />
    <result column="grade_type" property="gradeType" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="acl_code" property="aclCode" jdbcType="VARCHAR" />
    <result column="acl_type" property="aclType" jdbcType="VARCHAR" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="created_dt" property="createdDt" jdbcType="TIMESTAMP" />
    <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
    <result column="updated_dt" property="updatedDt" jdbcType="TIMESTAMP" />
    <result column="version" property="version" jdbcType="INTEGER" />
  </resultMap>
  <sql id="BaseColumnList" >
    id, school_id, name, grade_year, grade_type, type, acl_code, acl_type, created_by, 
    created_dt, updated_by, updated_dt, version
  </sql>
  <select id="findByPK" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="BaseColumnList" />
    from tb_class
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPK" parameterType="java.lang.Long" >
    delete from tb_class
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yisi.stiku.basedata.entity.TbClass" >
    insert into tb_class (id, school_id, name, 
      grade_year, grade_type, type, 
      acl_code, acl_type, created_by, 
      created_dt, updated_by, updated_dt, 
      version)
    values (#{id,jdbcType=BIGINT}, #{schoolId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, 
      #{gradeYear,jdbcType=INTEGER}, #{gradeType,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, 
      #{aclCode,jdbcType=VARCHAR}, #{aclType,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR}, 
      #{createdDt,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=VARCHAR}, #{updatedDt,jdbcType=TIMESTAMP}, 
      #{version,jdbcType=INTEGER})
  </insert>
  <update id="updateByPK" parameterType="com.yisi.stiku.basedata.entity.TbClass" >
    update tb_class
    <set >
      <if test="schoolId != null" >
        school_id = #{schoolId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="gradeYear != null" >
        grade_year = #{gradeYear,jdbcType=INTEGER},
      </if>
      <if test="gradeType != null" >
        grade_type = #{gradeType,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="aclCode != null" >
        acl_code = #{aclCode,jdbcType=VARCHAR},
      </if>
      <if test="aclType != null" >
        acl_type = #{aclType,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDt != null" >
        created_dt = #{createdDt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedDt != null" >
        updated_dt = #{updatedDt,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <insert id="insertReturnPK" useGeneratedKeys="true" keyProperty="id" parameterType="com.yisi.stiku.basedata.entity.TbClass" >
    insert into tb_class (id, school_id, name, 
      grade_year, grade_type, type, 
      acl_code, acl_type, created_by, 
      created_dt, updated_by, updated_dt, 
      version)
    values (#{id,jdbcType=BIGINT}, #{schoolId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, 
      #{gradeYear,jdbcType=INTEGER}, #{gradeType,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, 
      #{aclCode,jdbcType=VARCHAR}, #{aclType,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR}, 
      #{createdDt,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=VARCHAR}, #{updatedDt,jdbcType=TIMESTAMP}, 
      #{version,jdbcType=INTEGER})
  </insert>
  <insert id="insertBatch" parameterType="java.util.List" >
    insert into tb_class
		(id,school_id,name,grade_year,grade_type,type,acl_code,acl_type,created_by,created_dt,updated_by,updated_dt,version)
	values 
	<foreach collection="list" item="item" separator="," index="index">
		(#{item.id,jdbcType=BIGINT},#{item.schoolId,jdbcType=BIGINT},#{item.name,jdbcType=VARCHAR},#{item.gradeYear,jdbcType=INTEGER},#{item.gradeType,jdbcType=INTEGER},#{item.type,jdbcType=INTEGER},#{item.aclCode,jdbcType=VARCHAR},#{item.aclType,jdbcType=VARCHAR},#{item.createdBy,jdbcType=VARCHAR},#{item.createdDt,jdbcType=TIMESTAMP},#{item.updatedBy,jdbcType=VARCHAR},#{item.updatedDt,jdbcType=TIMESTAMP},#{item.version,jdbcType=INTEGER})
	</foreach>
  </insert>
  <select id="findByPK_inMaster" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
		<if test="forceMaster">
			<![CDATA[/*master*/]]>
		</if>
		<include refid="BaseColumnList"/>
	from tb_class	where id = #{pk, jdbcType=BIGINT}
  </select>
  <select id="getCntByPage" resultType="java.lang.Integer" >
    select 
		<if test="forceMaster">
			<![CDATA[/*master*/]]>
		</if>
		count(1)
	from
		tb_class
	<include refid="pageCondition" />
  </select>
  <select id="findAll" resultMap="BaseResultMap" >
    select
		<if test="forceMaster">
			<![CDATA[/*master*/]]>
		</if>
		<include refid="BaseColumnList"/>
	from tb_class
		<if test="orderBySql != null">
			${orderBySql}
		</if>
  </select>
  <select id="findByEntity" resultMap="BaseResultMap" >
    select
		<if test="forceMaster">
			<![CDATA[/*master*/]]>
		</if>
		<include refid="BaseColumnList"/>
	from tb_class
	<where>
		<trim suffixOverrides="and" >
			<if test="entity.id != null" >
				and id = #{entity.id,jdbcType=BIGINT}
			</if>
			<if test="entity.schoolId != null" >
				and school_id = #{entity.schoolId,jdbcType=BIGINT}
			</if>
			<if test="entity.name != null" >
				and name = #{entity.name,jdbcType=VARCHAR}
			</if>
			<if test="entity.gradeYear != null" >
				and grade_year = #{entity.gradeYear,jdbcType=INTEGER}
			</if>
			<if test="entity.gradeType != null" >
				and grade_type = #{entity.gradeType,jdbcType=INTEGER}
			</if>
			<if test="entity.type != null" >
				and type = #{entity.type,jdbcType=INTEGER}
			</if>
			<if test="entity.aclCode != null" >
				and acl_code = #{entity.aclCode,jdbcType=VARCHAR}
			</if>
			<if test="entity.aclType != null" >
				and acl_type = #{entity.aclType,jdbcType=VARCHAR}
			</if>
			<if test="entity.createdBy != null" >
				and created_by = #{entity.createdBy,jdbcType=VARCHAR}
			</if>
			<if test="entity.createdDt != null" >
				and created_dt = #{entity.createdDt,jdbcType=TIMESTAMP}
			</if>
			<if test="entity.updatedBy != null" >
				and updated_by = #{entity.updatedBy,jdbcType=VARCHAR}
			</if>
			<if test="entity.updatedDt != null" >
				and updated_dt = #{entity.updatedDt,jdbcType=TIMESTAMP}
			</if>
			<if test="entity.version != null" >
				and version = #{entity.version,jdbcType=INTEGER}
			</if>
		</trim>
	</where>
		<if test="orderBySql != null">
			${orderBySql}
		</if>
  </select>
  <select id="findByPage" resultMap="BaseResultMap" >
    select
		<if test="forceMaster">
			<![CDATA[/*master*/]]>
		</if>
		<include refid="BaseColumnList"/>
	from tb_class
		<include refid="pageCondition"/>
		<if test="pageInfo != null and pageInfo.orderBySql != null">
			${pageInfo.orderBySql}
		</if>
		<if test="pageInfo !=null">
			limit ${pageInfo.startIndex}, ${pageInfo.pagesize}
		</if>
  </select>
  <sql id="pageCondition" >
    <where >
      <trim suffixOverrides="and" >
        <if test="entity != null" >
          		<!-- 写where的判断条件,下边是样例
			<if test="entity.nick != null">
				and nick = #{entity.nick,jdbcType=VARCHAR}
			</if>
			<if test="entity.company != null">
				and company = '${entity.nick}'
			</if>
		-->
        </if>
        <if test="dynamicSql != null">
			and ${dynamicSql}
		</if>
      </trim>
    </where>
  </sql>
  
  	<select id="findClassList" parameterType="java.util.List" resultMap="BaseResultMap">
    select 
      <include refid="BaseColumnList"/>
	from TB_CLASS
	where id in (
	  <foreach collection="list" item="item" separator="," index="index">
		#{item,jdbcType=BIGINT}
	  </foreach>
	)
  </select>
	<select id="getNameBytype" resultMap="BaseResultMap">
	    select
	    <include refid="BaseColumnList" />
	      from tb_class where name=#{name,jdbcType=VARCHAR} and type= #{type,jdbcType=INTEGER} and
	      grade_year=#{gradeYear,jdbcType=INTEGER} and school_id=#{schoolId,jdbcType=BIGINT}
	    
	</select>		
			
</mapper>