<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:cxf="http://cxf.apache.org/core"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
   	http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd 
   	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
    >
    
    <!-- 配置 RPC 代理 -->
    <bean id="dataPrivRpcService" class="com.yisi.stiku.rpc.client.netty.RpcClientFactoryBean">
        <constructor-arg name="router" ref="nettyClientRouter"/>  
        <constructor-arg name="rpcInterface" value="com.yisi.stiku.basedata.rpc.service.DataPrivRpcService" />
    </bean>
    
    <bean id="userRpcService" class="com.yisi.stiku.rpc.client.netty.RpcClientFactoryBean">
        <constructor-arg name="router" ref="nettyClientRouter"/>  
        <constructor-arg name="rpcInterface" value="com.yisi.stiku.basedata.rpc.service.UserRpcService" />
    </bean>
    
</beans>
    
